/* Navbar.css */
.navbar {
    background: #333;
    background-color: #d0ff00;
/* box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.137); */
    color: #fff;
    padding: 1rem 0;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo {
    font-size: 1.5rem;
  }
  
  .menu ul {
    list-style: none;
    display: flex;
  }
  
  .menu li {
    margin: 0 20px;
  }
  
  .menu a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 30px;
    height: 3px;
    background: #fff;
    margin: 4px 0;
    transition: 0.4s;
  }
  
  .open {
    display: block;
  }
  
  .change.bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .change.bar:nth-child(2) {
    opacity: 0;
  }
  
  .change.bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  @media (max-width: 768px) {
    .menu {
      display: none;
      flex-direction: column;
      background: #333;
      width: 100%;
      position: absolute;
      top: 70px;
      left: 0;
    }
  
    .menu.open {
      display: flex;
    }
  
    .hamburger {
      display: flex;
    }
  }
  